/**** VARIABLES ****/
/**** VARIABLES ****/
/**** KEYFRAMES ****/
@keyframes apparitionPlats {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
/**** KEYFRAMES ****/
/***** RESTAURANTS ****/
/** HEADER **/
.header__icone {
  color: #353535;
  font-size: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}
.header__icone:hover {
  opacity: 0.7;
}
@media screen and (min-width: 1024px) {
  .header__icone {
    top: 37px;
  }
}

/** HEADER **/
/** MAIN **/
/* BACKGROUND */
.background__image {
  width: 100%;
  height: 275px;
  object-fit: cover;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .background__image {
    height: 350px;
  }
}
@media screen and (min-width: 1024px) {
  .background__image {
    height: 500px;
  }
}

/* BACKGROUND */
/* MENU */
.menu {
  background-color: #F6F6F6;
  position: relative;
  padding: 30px 10px 40px 10px;
  margin-top: -50px;
  border-radius: 40px 40px 0px 0px;
  width: 100%;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .menu {
    width: auto;
    margin-left: 50px;
    margin-right: 50px;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    width: auto;
    margin-left: 190px;
    margin-right: 190px;
    padding: 50px 200px 40px 200px;
  }
}
.menu__titre {
  font-family: "Shrikhand";
  font-size: 26px;
  font-weight: 400;
  margin: 0px;
  margin-left: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .menu__titre {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .menu__titre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
  }
}
.menu__titre_deux {
  font-size: 16px;
  font-weight: 300;
  margin: 25px 0px 0px 0px;
}
.menu__titre_deux_underline {
  display: flex;
  align-self: flex-start;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-top: 4px;
}
.menu__coeur {
  font-size: 24px;
  margin-left: 35px;
}
.menu__coeur_rempli {
  font-size: 25px;
  position: relative;
  right: 24px;
  top: 0px;
  opacity: 0;
  color: transparent;
  transition: opacity 500ms ease-in-out;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
.menu__coeur_rempli:hover {
  opacity: 1;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .menu__coeur {
    margin-left: 35px;
    margin-right: 0px;
    right: 24px;
    top: -1px;
  }
}
@media screen and (min-width: 1024px) {
  .menu__coeur {
    margin-left: 35px;
    margin-right: 0px;
    right: 24px;
    top: -1px;
  }
}
.menu__liste {
  list-style: none;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__liste li {
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}
.menu__liste li:hover .menu__liste_coche {
  margin-right: 0px;
}
.menu__liste_plats {
  padding: 0.8rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__liste_nom_un {
  margin: 0px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__liste_nom_deux {
  margin: 0px;
  font-size: 15px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__liste_prix {
  font-size: 15px;
  font-weight: 700;
  color: #353535;
  margin-left: auto;
  margin-right: 20px;
  padding-bottom: 0.8rem;
}
.menu__liste_coche {
  width: 59px;
  height: 71px;
  margin-right: -60px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  border-radius: 0px 15px 15px 0px;
  transition-duration: 900ms;
}
.menu__liste_animation {
  animation: apparitionPlats 500ms ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(0);
}

.delai_un {
  animation-delay: 0s;
}

.delai_deux {
  animation-delay: 0.15s;
}

.delai_trois {
  animation-delay: 0.3s;
}

.delai_quatre {
  animation-delay: 0.45s;
}

.delai_cinq {
  animation-delay: 0.6s;
}

.delai_six {
  animation-delay: 0.75s;
}

.delai_sept {
  animation-delay: 0.9s;
}

.delai_huit {
  animation-delay: 1.05s;
}

.delai_neuf {
  animation-delay: 1.2s;
}

.delai_dix {
  animation-delay: 1.35s;
}

.boutton__restaurants {
  display: flex;
  text-decoration: none;
  width: fit-content;
  margin: auto;
  margin-top: 40px;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 15px 45px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out;
}
.boutton__restaurants:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
}

/***** RESTAURANTS ****/
/**** VARIABLES ****/
/**** VARIABLES ****/
/**** KEYFRAMES ****/
@keyframes loadscreen {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes load_balls {
  0% {
    transform: scaleY(0.5);
    opacity: 0.7;
  }
  100% {
    transform: scaleY(1);
    opacity: 1;
  }
}
/**** KEYFRAMES ****/
/**** GENERAL ****/
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/**** GENERAL ****/
/**** LOADER ****/
.loader {
  background: rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: loadscreen 1s 2.5s forwards;
}

.load {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-around;
  width: 150px;
  height: 40px;
  gap: 20px;
}

.load_ball {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  animation: load_balls 800ms backwards infinite;
  animation-direction: alternate;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
}

.load_ball_une {
  animation-delay: 266.6666666667ms;
}

.load_ball_deux {
  animation-delay: 533.3333333333ms;
}

.load_ball_trois {
  animation-delay: 800ms;
}

/**** LOADER ****/
/**** MAIN DEBUT ****/
/* HEADER */
.header {
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.header__logo {
  padding: 14px 0px 13px 0px;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    padding: 30px;
  }
}

/* HEADER */
/* LOCALISATION */
.localisation {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
}
.localisation__input {
  border: none;
  outline: none;
  background-color: #EAEAEA;
  padding: 17px 0px 17px 17px;
  width: 145px;
  font-size: 16px;
  font-weight: 500;
}
.localisation__icone {
  color: #353535;
  width: 12px;
  height: 16px;
}

/* LOCALISATION */
/* EXPLORER */
.explorer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
  padding-bottom: 57px;
}
.explorer__titre {
  font-size: 24px;
  font-weight: 700;
  padding-top: 39px;
  margin: 0px 58px 0px 42px;
}
@media screen and (min-width: 1024px) {
  .explorer__titre {
    font-size: 40px;
    font-weight: 700;
  }
}
.explorer__paragraphe {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  margin-bottom: 27px;
}

.boutton__accueil {
  text-decoration: none;
  width: fit-content;
  margin: auto;
  background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  border: none;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding: 13px 18.75px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out;
}
.boutton__accueil:hover {
  opacity: 0.8;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
}

/* EXPLORER */
/* FONCTIONNEMENT */
.fonctionnement {
  margin: 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    margin-left: 180px;
    margin-right: 180px;
    margin-top: 50px;
  }
}
.fonctionnement__titre {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 26px;
}
.fonctionnement__liste {
  display: flex;
  flex-direction: column;
  gap: 25px;
  list-style: none;
  padding-left: 12px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__liste {
    flex-direction: inherit;
    justify-content: space-around;
  }
}
.fonctionnement__liste li {
  padding: 1.5rem;
  background-color: #F6F6F6;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__liste li {
    width: 30%;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
  }
}
.fonctionnement__liste_numero {
  color: white;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: -11px;
  bottom: 21px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__liste_numero {
    width: 30px;
    height: 30px;
    bottom: 24px;
  }
}
.fonctionnement__icone {
  color: #7E7E7E;
  padding-left: 10px;
}
.fonctionnement__icone_une {
  padding-right: 27px;
}
.fonctionnement__icone_deux {
  padding-right: 23px;
}
.fonctionnement__icone_trois {
  padding-right: 20px;
  color: #9356DC;
}

/* FONCTIONNEMENT */
/* RESTAURANTS */
.restaurants {
  margin-top: 70px;
  background-color: #F6F6F6;
  padding: 30px 15px 50px 15px;
  gap: 18px;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .restaurants {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.restaurants__titre {
  margin-bottom: 0px;
}
.restaurants__card {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin: 10px 0px 20px 0px;
}
.restaurants__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .restaurants__cards {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__cards {
    display: flex;
    justify-content: space-between;
  }
}
.restaurants__cards_ensemble {
  width: 100%;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .restaurants__cards_ensemble {
    width: 49%;
  }
}
@media screen and (min-width: 1024px) {
  .restaurants__cards_ensemble {
    width: 45%;
    margin-top: 20px;
  }
}
.restaurants__container {
  padding: 0px 13px;
  position: relative;
}
.restaurants__container__titre {
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}
.restaurants__container__paragraphe {
  margin: 0px;
  font-size: 17px;
  font-weight: 300;
}
.restaurants__image {
  height: 231px;
  border-radius: 15px 15px 0 0;
  width: 100%;
  object-fit: cover;
}
.restaurants__lien {
  text-decoration: none;
  color: black;
}
.restaurants__icone {
  font-size: 25px;
  position: absolute;
  right: 20px;
  bottom: 15px;
}
.restaurants__icone_remplie {
  font-size: 25px;
  position: absolute;
  right: 20px;
  bottom: 15px;
  opacity: 0;
  color: transparent;
  transition: opacity 500ms ease-in-out;
  background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
.restaurants__icone_remplie:hover {
  opacity: 1;
}
.restaurants__nouveau {
  position: absolute;
  right: 15px;
  bottom: 250px;
  padding: 5px 13px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: 500;
}

/* RESTAURANTS */
/**** MAIN FIN ****/
/**** FOOTER ****/
.footer {
  padding: 25px;
  background-color: #353535;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .footer {
    padding-top: 45px;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding-top: 45px;
  }
}
.footer__titre {
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin: 0px;
  color: white;
}
@media screen and (min-width: 1024px) {
  .footer__titre {
    margin-left: 100px;
    margin-right: 30px;
  }
}
.footer__liste {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .footer__liste {
    display: block;
  }
  .footer__liste li {
    display: inline-block;
  }
}
@media screen and (min-width: 1024px) {
  .footer__liste {
    display: block;
  }
  .footer__liste li {
    display: inline-block;
  }
}
.footer__lien {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 500;
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .footer__lien {
    margin-right: 20px;
  }
  .footer__lien__deux {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1024px) {
  .footer__lien {
    margin-right: 20px;
  }
  .footer__lien__deux {
    margin-left: 20px;
  }
}
.footer__lien:hover {
  text-decoration: underline;
}
.footer__lien__deux {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.footer__lien__deux:hover {
  text-decoration: underline;
}
.footer__icone {
  color: white;
  font-size: small;
}
.footer__icone__une {
  padding-right: 11px;
}
.footer__icone__deux {
  padding-right: 5px;
}
@media screen and (min-width: 767.9px) {
  .footer__icone__deux {
    padding-right: 11px;
  }
}
@media screen and (min-width: 767.9px) and (max-width: 1024px) {
  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: end;
  }
}
@media screen and (min-width: 1024px) {
  .footer__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
}

/**** FOOTER ****/

/*# sourceMappingURL=style.css.map */
