/**** VARIABLES ****/
$gris_clair: #F6F6F6;
$violet: #9356DC;
$gris_icones: #7E7E7E;
$background_footer: #353535;
$vert_clair: #99E2D0;
/**** VARIABLES ****/

/***** RESTAURANTS ****/ 

/** HEADER **/ 
.header__icone {
        color: #353535;
        font-size: 20px;
        position: absolute;
        left: 20px;
        top: 20px;
        &:hover { 
            opacity: 0.7;
        }
        @media screen and (min-width: 1024px) {
            top: 37px;
        }
}
/** HEADER **/ 

/** MAIN **/ 

/* BACKGROUND */
.background__image {
    width: 100%;
    height: 275px; 
    object-fit: cover;
    @media screen and (min-width: 767.9px) and (max-width: 1024px) {
        height: 350px;
    }
    @media screen and (min-width: 1024px) {
        height: 500px;
    }
}
/* BACKGROUND */

/* MENU */ 

.menu {
    background-color: $gris_clair;
    position: relative;
    padding: 30px 10px 40px 10px;
    margin-top: -50px;
    border-radius: 40px 40px 0px 0px; 
    width: 100%;
    @media screen and (min-width: 767.9px) and (max-width: 1024px) {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }
    @media screen and (min-width: 1024px) {
        width: auto;
        margin-left: 190px;
        margin-right: 190px;
        padding: 50px 200px 40px 200px;
    }
    &__titre {
        font-family: "Shrikhand";
        font-size: 26px; 
        font-weight: 400; 
        margin: 0px;
        margin-left: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media screen and (min-width: 767.9px) and (max-width: 1024px) {
            display: flex;
            justify-content: center;
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
        &_deux {
            font-size: 16px; 
            font-weight: 300; 
            margin: 25px 0px 0px 0px;
            &_underline {
                display: flex;
                align-self: flex-start;
                width: 40px;
                height: 3px;
                background-color: $vert_clair;
                margin-top: 4px;
            }
        }
    }
    &__coeur {
        margin-right: 25px;
        font-size: 24px;
        left: 300px;
        top: 35px;
        @media screen and (min-width: 767.9px) and (max-width: 1024px) {
            margin-left: 35px;
            margin-right: 0px;
        }
        @media screen and (min-width: 1024px) {
            margin-left: 35px;
            margin-right: 0px;
        }
    }
    &__liste {
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        & li {
            padding: 0.8rem;
            background-color: white;
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            cursor: pointer;
        }
        &_nom_un {
            margin: 0px;
            margin-bottom: 5px;
            font-size: 18px; 
            font-weight: 500; 
        }
        &_nom_deux {
            margin: 0px;
            font-size: 15px; 
            font-weight: 300; 
            display: flex;
            justify-content: space-between;
        }
        &_prix {
            font-size: 15px; 
            font-weight: 700; 
            color: $background_footer;
        }
    }    
}

.boutton__restaurants {
    display: flex;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px; 
    font-weight: 500; 
    padding: 15px 45px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}

/***** RESTAURANTS ****/ 