/**** VARIABLES ****/
$gris_clair: #F6F6F6;
$violet: #9356DC;
$gris_icones: #7E7E7E;
$background_footer: #353535;
$vert_clair: #99E2D0;
/**** VARIABLES ****/

/**** KEYFRAMES ****/
@keyframes apparitionPlats {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}
/**** KEYFRAMES ****/

/***** RESTAURANTS ****/ 

/** HEADER **/ 
.header__icone {
        color: #353535;
        font-size: 20px;
        position: absolute;
        left: 20px;
        top: 20px;
        &:hover { 
            opacity: 0.7;
        }
        @media screen and (min-width: 1024px) {
            top: 37px;
        }
}
/** HEADER **/ 

/** MAIN **/ 

/* BACKGROUND */
.background__image {
    width: 100%;
    height: 275px; 
    object-fit: cover;
    @media screen and (min-width: 767.9px) and (max-width: 1024px) {
        height: 350px;
    }
    @media screen and (min-width: 1024px) {
        height: 500px;
    }
}
/* BACKGROUND */

/* MENU */ 

.menu {
    background-color: $gris_clair;
    position: relative;
    padding: 30px 10px 40px 10px;
    margin-top: -50px;
    border-radius: 40px 40px 0px 0px; 
    width: 100%;
    @media screen and (min-width: 767.9px) and (max-width: 1024px) {
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }
    @media screen and (min-width: 1024px) {
        width: auto;
        margin-left: 190px;
        margin-right: 190px;
        padding: 50px 180px 40px 180px;
    }
    &__titre {
        font-family: "Shrikhand";
        font-size: 26px; 
        font-weight: 400; 
        margin: 0px;
        margin-left: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        @media screen and (min-width: 767.9px) and (max-width: 1024px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        @media screen and (min-width: 1024px) {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 40px;
            flex-wrap: wrap;
        }
        &_deux {
            font-size: 16px; 
            font-weight: 300; 
            margin: 25px 0px 0px 0px;
            &_underline {
                display: flex;
                align-self: flex-start;
                width: 40px;
                height: 3px;
                background-color: $vert_clair;
                margin-top: 4px;
            }
        }
    }
    &__coeur {
        font-size: 24px;
        margin-left: 35px;
        &_rempli {
            font-size: 25px;
            position: relative;
            right: 24px;
            top: 0px;
            opacity: 0;
            color: transparent;
            transition: opacity 500ms ease-in-out;
            background-image: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
            background-clip: text;
            -webkit-background-clip: text;
            &:hover {
                opacity: 1;
            }
          }
        @media screen and (min-width: 767.9px) and (max-width: 1024px) {
            margin-left: 35px;
            margin-right: 0px;
            right: 24px;
            top: -1px;
        }
        @media screen and (min-width: 1024px) {
            margin-left: 35px;
            margin-right: 0px;
            right: 24px;
            top: -1px;
        }
    }
    &__liste {
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        & li {
            background-color: white;
            border-radius: 15px;
            box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
            cursor: pointer;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            &:hover .menu__liste_coche {
                margin-right: 0px;
            }
        }
        &_plats {
            padding: 0.8rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &_nom_un {
            margin: 0px;
            margin-bottom: 5px;
            font-size: 18px; 
            font-weight: 500; 
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &_nom_deux {
            margin: 0px;
            font-size: 15px; 
            font-weight: 300; 
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        &_prix {
            font-size: 15px; 
            font-weight: 700; 
            color: $background_footer;
            margin-left: auto;
            margin-right: 20px;
            padding-bottom: 0.8rem;
        }
        &_coche {
            width: 59px;
            height: 71px; 
            margin-right: -60px;
            background-color: $vert_clair;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 22px;
            border-radius: 0px 15px 15px 0px;
            transition-duration: 900ms;
        }
        &_animation {
            animation: apparitionPlats 500ms ease-in-out;
            animation-fill-mode: forwards;
            transform: scale(0);
        }
    }    
}

.delai_un {
    animation-delay: 0s;
  }
  
.delai_deux {
    animation-delay: 0.15s;
  }
  
.delai_trois {
    animation-delay: 0.3s;
  }
  
.delai_quatre {
    animation-delay: 0.45s;
  }
  
.delai_cinq {
    animation-delay: 0.6s;
  }
  
.delai_six {
    animation-delay: 0.75s;
  }
  
.delai_sept {
    animation-delay: 0.9s;
  }
  
.delai_huit {
    animation-delay: 1.05s;
  }
  
.delai_neuf {
    animation-delay: 1.2s;
  }

.delai_dix {
    animation-delay: 1.35s;
}

.boutton__restaurants {
    display: flex;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    margin-top: 40px;
    background: linear-gradient(0deg, #9356DC 0%, #FF79DA 100%);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 16px; 
    font-weight: 500; 
    padding: 15px 45px;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); 
    transition: box-shadow 200ms ease-in-out;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.6);
    }
}

/***** RESTAURANTS ****/ 